@model List<Post>

@if (@ViewBag.CurrentTopicID > 0)
{
    <img src=@ViewBag.TopicImageLink alt="Alternate Text" width="120" height="80" />
    <h3>@ViewBag.TopicTitle</h3>
    <br>
    <a asp-action="Create" asp-controller="Post">
        <button type="button" class="btn btn-success">Create Post</button>
    </a>
    <p></p>
    <p></p>
    <p></p>

    @foreach (var post in Model)
    {
        <h5>@post.Title</h5>

        <textarea type="text" class="form-control" id="content" rows="4" readonly>@post.Content</textarea>
        <br>
        <a asp-action="Edit" asp-route-id="@post.Id">
            <button type="button" class="btn btn-warning">Edit</button>
        </a>
        <a asp-action="Delete" asp-route-id="@post.Id">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>

        <br>
        <br>
        <br>
    }
}
else
{
    <div style="text-align: center;">
        <h2>Invalid action</h2>
        <h2>Go to Home page</h2>
    </div>
    
}
